.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 768px) {
    /* Reduce font size for smaller screens */
    #title {
        font-size: 0px; /* Adjust font size as needed */
        visibility: hidden; /* Hide the original text */
        display: none;
    }

    #title::after {
        content: "WBC"; /* Replace with short text */
        visibility: visible; /* Make the new content visible */
        font-size: 24px; /* Adjust as needed */
    }
}

#title{
    font-size: 24px;
}

#logo{
    height:44px;
}

#open-offcanvas{
    margin-top: 0%;
    padding: 8px;
    /* height: 10px; */
    /* width: 20px; */
}

#offcanvas {
    max-height: 100vh;  /* Ensures the drawer doesn’t exceed the viewport height */
    overflow-y: auto;   /* Adds a scroll if the content exceeds the height */
}

.graph-card {
    height: 40vh;
    width: 100%;
}

/* Ensure the graph container within graph card is responsive */
.graph-card .graph-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Adjust the card body within graph card */
.graph-card .card-body {
    padding: 0;
    height: 100%;
    width: 100%;
}



